<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MyCountries" 
			 providerName="System.Data.SqlClient"
			 connectionString= "Data Source=(localdb)\MSSQLLocalDB;
								Initial Catalog=C:\USERS\STUD308\SOURCE\REPOS\EXAMPLEADO\DATABASECOUNTRIES.MDF;
								Integrated Security=True;
								"/>
	</connectionStrings>
	<appSettings>
		<!--Отображение информации-->
		<!--1-->	
		<add key="SelectAll" value="select Countries.Name Страна, Cities.Name Город, 
									Cities.Population Население, PartOfTheWorld.Name [Часть света] 
									from Countries
									join Cities on Countries.Id = Cities.CountryId
									join PartOfTheWorld on Countries.PartOfTheWorldId = PartOfTheWorld.Id"/>
		<!--2-->
		<add key="SelectAllWithParameters" value=""/>
		<!--3-->
		<add key="SelectCountry" 
							 value="select Countries.Name Страна, Cities.Name Город, 
									Cities.Population Население, PartOfTheWorld.Name [Часть света] from Countries
									join Cities on Countries.Id = Cities.CountryId
									join PartOfTheWorld on Countries.PartOfTheWorldId = PartOfTheWorld.Id
									where Countries.Name = @param"/>
		<!--4-->
		<add key="SelectCityInCountry" value="select Cities.Name, Cities.Population from Cities
									join Countries on Cities.CountryId = Countries.Id
									where Countries.Name = @param;"/>
		<!--5-->
		<add key="SelectCountryStartChar" value="select name from countries 
									where name like /*@param*/'%';"/>
		<!--6-->
		<add key="SelectCapitalStartChar" value="select name from Cities 
									join Capitals on Cities.Id = Capitals.CityId 
									where Name like /*@param*/'%';"/>
		<!--7-->
		<add key="SelectTop3CapitalMinPopulation" value="select top 3 c.Name from Cities c 
									join Capitals cap on c.Id = cap.CityId 
									order by c.Population;"/>
		<!--8-->
		<add key="SelectTop3CountryMinPopulation" value="select top 3 Countries.Name, sum(Cities.Population) from Cities 
									join Countries on Cities.CountryId = Countries.Id
									group by Countries.Name
									order by sum(Cities.Population)"/>
		<!--9-->
		<add key="SelectAvgPopulationInCapital" value="select pw.Name, AVG(Cities.Population) from PartOfTheWorld pw
									join Countries on pw.Id = Countries.PartOfTheWorldId
									join Capitals on Capitals.CountryId = Countries.Id
									join Cities on Capitals.CityId = Cities.Id
									group by pw.Name"/>
		<!--10-->
		<add key="SelectTop3PartWorldMinPopulation" value="select Countries.Name, PartOfTheWorld.Name, sum(Cities.Population) from Countries
									join PartOfTheWorld on Countries.PartOfTheWorldId = PartOfTheWorld.Id
									join Cities on Countries.Id = Cities.CountryId
									group by Countries.Name, PartOfTheWorld.Name"/>
		<!--11-->
		<add key="SelectTop3PartWorldMaxPopulation" value="select Countries.Name, PartOfTheWorld.Name, sum(Cities.Population) sumP from Countries
									join PartOfTheWorld on Countries.PartOfTheWorldId = PartOfTheWorld.Id
									join Cities on Countries.Id = Cities.CountryId
									group by Countries.Name, PartOfTheWorld.Name"/>
		<!--12-->
		<add key="SelectAvgPopulationInCountry" value="select Countries.Name, AVG(Cities.Population) from Countries
									join Cities on Countries.Id = Cities.CountryId
									where Countries.Name = @param*/'%'
									group by Countries.Name"/>
		<!--13-->
		<add key="SelectCityWhithMinPopulationInCountry" value="select Cities.Name, min(Cities.Population) from Cities
									join Countries on Cities.CountryId = Countries.Id
									where Countries.Name = /*@param*/'%'
									group by Cities.Name"/>
		
		<!--Изменение информации-->
		<add key="InsertCountry" value="Insert into Countries(Name, PartOfTheWorldId) values(@name, @part)"/>
		<add key="UpdateCountry" value="Update Countries
			 set Id = @id,
			 Name = @name,
			 PartOfTheWorldId = @part"/>

		

		<add key="InsertCity" value="Insert into Cities(Name, Population, CountryId) values(@name, @population, @countryId)"/>
		<add key="UpdateCity" value="Update Cities
			 set Name = @name,
			 Population = @population,
			 CountryId = @countryId"/>

	</appSettings>
</configuration>