<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseCountriesEntities" connectionString="metadata=res://*/LibraryCountries.csdl|res://*/LibraryCountries.ssdl|res://*/LibraryCountries.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DatabaseCountries.mdf;initial catalog=DatabaseCountries;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>